body{
    background-color: #fff;
}
.headline{
z-index: 1;
}
.form-inline{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2%
}
.nav-item{
    display: inline-block;
    padding: 0 1%;
}
.navbar-nav{
    padding: 0 3%;
}
.card-container{
    width: 100%;
    height: auto;
}
.headline,.name{
    color: #000;
}
.model{
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.addSearch{
    width: 100%;
    height: 5%;
    text-align: center;
    margin: auto;
    padding-top: 52px;
}

.search{
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
}