body{
    background-color: #fff;
}
.headline{
z-index: 1;
}
.form-inline{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2%
}
.nav-item{
    display: inline-block;
    padding: 0 1%;
}
.navbar-nav{
    padding: 0 3%;
}
.card-container{
    width: 100%;
    height: auto;
}
.headline,.name{
    color: #000;
}
.model{
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.addSearch{
    width: 100%;
    margin-left: 80%;
    position: relative;
}
@media only screen and (max-width: 600px) {
    .todo{
        margin-top: 25% !important;
    }
    .add{
        height: 40px;
        top:8%;
        right: 50%;
    }
    .search{
        border: none;
        border-bottom: 1px solid black;
        height: 40px;
        top:8%;
        right: 13%;
    }
}
@media only screen and (min-width: 600px){
    .todo{
        margin-top: 22% !important;
    }
    .add{
        height: 40px;
        top:16%;
        right: 47%;
    }
    .search{
        border: none;
        border-bottom: 1px solid black;
        height: 40px;
        top:15%;
        right: 19%;
    }
}
@media only screen and (min-width: 600px) and (max-width : 767px) {
    .todo{
        margin-top: 22% !important;
    }
    .add{
        height: 40px;
        top:9%;
        right: 47%;
    }
    .search{
        border: none;
        border-bottom: 1px solid black;
        height: 40px;
        top:9%;
        right: 20%;
    }
}
@media only screen and (min-width: 768px) {
    .todo{
        margin-top: 18% !important;
    }
    .add{
        height: 40px;
        top:9%;
        right: 50%;
    }
    .search{
        border: none;
        border-bottom: 1px solid black;
        height: 40px;
        top:9%;
        right: 25%;
    }
}
@media only screen and (min-width: 992px) {
    .todo{
        margin-top: 16% !important;
    }
    .add{
        height: 40px;
        top:9%;
        right: 42%;
    }
    .search{
        border: none;
        border-bottom: 1px solid black;
        height: 40px;
        top:9%;
        right: 23%;
    }
}
@media only screen and (min-width: 1200px) {
    .todo{
        margin-top: 8% !important;
    }
    .add{
        height: 40px;
        top:16%;
        right: 17%;
    }
    .search{
        border: none;
        border-bottom: 1px solid black;
        height: 40px;
        top:16%;
        right: 2%;
    }
}


