.singleCard{
    width: 100%;
    height:auto;
    color: #00adb5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #efda10;
    color: #000;
    padding: 2%;
    word-wrap: break-word;
    overflow: auto;
}
.save{
    background-color: #efda10;
    color: #000;
}
.taskDiv{
    width: 85%;
}
.delete,.edit{
    border: none;
    background: none;
    cursor: pointer;
}
