nav{
    background-color: #222831;
    margin: 0 !important ;
    position: relative;
    z-index: 1;
    height: auto!important;
    padding: 0 !important;
}
nav h1{
    margin:0 !important;
    padding: 0 !important;
}
nav ul{
    margin:0 !important;
    padding: 0 !important;
}
body{
    background-color: #fff;
}
.userName{
    font-size:0.8rem;
    color: #efda10;
}